<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <img src="assets/logo_solar_faith.png" class="header-logo" alt="Logo">
        </div>
        <div class="col-12 col-md-8">
          <nav class="header-nav">
            <a routerLink="/dashboard/home">Home</a>
            <a routerLink="/dashboard/charts">Grafici</a>
            <a routerLink="/dashboard/tables">Tabelle</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  